mixin header-about-business(heading, text)

    header.header-about-business

        .container
            .row
                .col-md-6
                    +breadcrumbs(heading)
            .row
                .col-sm-6
                    h1= heading

                .col-sm-6.col-md-5.col-lg-4
                    p= text


mixin header-about-us(heading, text)
    header.header-about-us

        .container
            .row.justify-content-between

                .col-sm-5.col-lg-4.col-xl-3.header-col.left
                    +breadcrumbs(heading)

                    .header-text
                        h1= heading
                        p= text

                .col-sm-7.header-col.right
                    include ../../_sliders/slider-header/slider-header

mixin header-article(img, heading, company, type)

        .header-article--image
            +img(img)

        .container
            .row
                .col-md-6
                    +breadcrumbs(heading)
            .row.header-article--row
                .col-12
                    h1= heading
                    h6= type
                        span.company= company




mixin header-report(heading)
        .container
            .row
                .col-md-6
                    ul.breadcrumbs
                        +li-a('Головна')
                        +li-a('Звіти')
                        +li-a(heading)
            .row.header-article--row
                .col-md-8.col-lg-6.col-xl-5
                    h1= heading


mixin header-newsin(heading)
        .container
            .row
                .col-md-6
                    ul.breadcrumbs
                        +li-a('Головна')
                        +li-a('Публікація')
                        +li-a(heading)
            .row.justify-content-center
                .col-12
                    a(href='' title='').link-back
                        include ../../_svgs/arrow-left2.svg
                        | До всіх статей
                .col-lg-10
                    h1= heading


mixin header-part(heading, text)
    .container
        .row
            .col-md-6
                +breadcrumbs(heading)
        .row
            .col-sm-6
                h1= heading

            .col-sm-6.col-md-5.col-lg-4
                p= text

mixin header-search(heading, text)
    .container
        .row
            .col-md-6
                +breadcrumbs(heading)
        .row
            .col-sm-6
                h1= heading

            .col-sm-6.col-md-5.col-lg-4
                p= text
            .col-12
                hr

